* {margin: 0; padding: 0;}
body{
	background-color: #189E9D;
	padding-top: 30vh;
}

.form-container{
	width: 250px;
	height: auto;
	padding: 40px 30px; 
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000000;
	margin: auto;
	position: relative;
}

.user-img{
	background: url(img/Nick_Prof.png) no-repeat;
	width: 70px;
	height:	70px;
	background-size: 100%;
	position: absolute;
	top: -40px;
	left: 110px;

}

ul.list{
	list-style-type: none;
	text-align: center;

}

ul.list li{
	width: 250px;
	margin-bottom: 15px;	
}

ul.list li input{
	width: 250px;
	text-align: center;
	padding: 8px 0px;
	/*border: none;*/
	background-color: #d3d3d3;
	border-radius: 20px;
}

ul.list li input[type="button"]{
	background-color: #189E9D;
	color: #ffffff;
	border:none;
}

ul.list li input[type="buttonn"]{
	background-color: #ffffff;
	color: #189E9D;
	border-color: #189E9D;
}

ul.list li:nth-child(5){
	color: #189E9D;
} 